---
layout: default
---

<div class="home">

  

    <div class="leftcol">
	NEWS:
	<ul class="post-list">
	    {% for post in site.posts %}
		{% if post.categories contains "news" %}

		<li><div class="postdate">{{ post.date | date: "%d.%m.%Y" }}</div>
		    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</li>
		{% endif %}
	    {% endfor %}
	</ul>
	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
	RELEASES:
	<ul class="post-list">
	    {% for post in site.posts %}
		{% if post.categories contains "changelog" %}
		<li><div class="postdate">{{ post.date | date: "%d.%m.%Y" }}</div>
		    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</li>
		{% endif %}
	    {% endfor %}
	</ul>

    </div>

    <div class="rightcol">
  <ul class="post-list">
    {% for post in site.posts limit:8 %}
	{% if post.categories contains "changelog" %}
	{% else %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
	    <p>{{ post.excerpt }}</p>
      </li>
	{% endif %}
    {% endfor %}
  </ul>
    </div>

  

</div>
