.fluxcesslogo {
    height: 30px;
}
a.site-title:hover {
    text-decoration: none;
}

.leftcol {
    width: 30%;
    float: left;
}
.rightcol {
    width: 68%;
    margin-left: 32%;
}

.postdate {
    font-size: .7em;
    color: #888;
}